name: PR Check

on:
  pull_request:

jobs:
  quick-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Go Environment
        uses: ./.github/actions/setup-go
        with:
          go-version: '1.21'
      
      - name: Go Mod Tidy
        working-directory: ./backend
        run: go mod tidy
    
      - name: Run go vet
        working-directory: ./backend
        run: go vet ./...
      
      - name: Run tests
        working-directory: ./backend
        run: go test -v -short ./...

